.features-wrap {
    margin-top: 50px;
    margin-bottom: 30px;
    .features {
        padding-bottom: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    }
}

.features-wrap {
    .feature-list {
        display: flex;
        flex-wrap: wrap;
    }

    .single-feature {
        position: relative;
        flex: 0 0 20%;
        max-width: 20%;
        margin-top: 30px;
        padding: 0 15px;

        &:last-child {
            &:after {
                width: 0;
            }
        }

        &:after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            height: 42px;
            width: 1px;
            background: #000;
        }
    }
}

@media screen and (max-width: 1280px) {
    .features-wrap {
        .single-feature {
            flex: 0 0 25%;
            max-width: 25%;
            justify-content: flex-start;
            padding: 0 30px;

            &:after {
                content: none;
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .features-wrap {
        .single-feature {
            flex: 0 0 33.33333333333333%;
            max-width: 33.33333333333333%;
        }
    }
}

@media screen and (max-width: 780px) {
    .features-wrap {
        .single-feature {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

@media screen and (max-width: 570px) {
    .features-wrap {
        .single-feature {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}


.single-feature {
    display: flex;
    justify-content: center;

    .feature-icon {
        margin-right: 13px;

        > i {
            font-size: 36px;
         
            color: #002b5c;
        }
    }

    .feature-details {
        > span {
            font-size: 14px;
            line-height: 22px;
            display: block;
            color: #6e6e6e;
            margin-top: 2px;
        }
    }
}

.slick-slider {  
    width: 90%;  
    margin: auto;  
  }
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}


.home-section-wrap {
    margin-top: 30px;
}


:host ::ng-deep .carousel-dots .carousel-dot{
    display: inline-block;
    border: 2px solid #ab3535 !important;
    border-radius: 100px;
    margin: 4px;
    width: 8px;
    height: 8px;
}