<header style="background-color: white;z-index: 10000;" class="header-wrap">
   
    <ngx-pull-to-refresh
	spinnerColor="#ff0000"
  spinnerSize="50"
	distanceForRefresh="40"
	[isEnable]="true"
	[targetElement]="targetElement"
	(refresh)="myRefreshEvent($event, 'refresh')"
	
	style="display:block;height:100%;">
  <div style="height: 10px"></div>
</ngx-pull-to-refresh>




    <div class="header-wrap-inner">
        <div class="container">
            <div class="row flex-nowrap justify-content-between position-relative">
                <div class="header-column-left">
                    <div class="sidebar-menu-icon-wrap">
                        <div class="header-menu">
                            <span (click)="toggleSideNav()" class="menu-icon material-icons">menu</span>
                        </div>
                    </div>

                    <a routerLink="/home" class="header-logo">
                      
                         <img src="https://cartigo.in/storage/media/VU1S8X9yXo4huWQhbCZwkqbfas6YGsWNhTnzd2Ol.png" />
                      
                    </a>
                </div>
                <app-header-search class="header-search-wrap"> </app-header-search>
                <div class="header-column-right d-flex">

                    
                    <a href="#" style="display: block;" class="header-wishlist">
                        <div class="icon-wrap">
                           
                           <!--  <i class="lar la-heart"></i>
                            <div class="count" v-text="wishlistCount"></div> -->
                        </div>

                       
                    </a>

                    <div class="header-cart">
                        <div (click)="toggleSideCart()" style="display: none;"  class="icon-wrap">
                            <i class="las la-cart-arrow-down"></i>
                            <div class="count" v-text="cart.quantity">{{cartno}}</div>
                        </div>

                        <!-- <span v-html="cart.subTotal.inCurrentCurrency.formatted"></span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
