<section class="form-wrap login-wrap">
  <div class="container"><div class="form-wrap-inner login-wrap-inner"><h2>Reset Password</h2> 
    <form class="row form_main" [formGroup]="form" (ngSubmit)="onSubmit()">

  <input type="hidden" name="_token" value="qfqstD0kbmloaHEDgu3TFoVwSd9XcB6yKWbkAepd"> 
  <div class="form-group"><label for="email">Email<span>*</span></label> 
  <input type="text" formControlName="email"  class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
    <div *ngIf="f.email.errors.required">Email is required</div>
    <div *ngIf="f.email.errors.pattern">enter valid email</div>

</div>
  </div> 
 
            
       <input name="submit" class="btn btn-primary" accesskey="l" value="Submit" tabindex="3" type="submit" />
  </form> 

  <a routerLink="/login-phone" class="btn btn-default btn-create-account">
 Back to  Login
    </a>
</div></div></section>

<app-footer1></app-footer1>