
<section *ngIf="isdata" class="banner-wrap three-column-full-width-banner padding-tb-75"
style="background-image: url(&quot;https://cartigo.in/storage/media/S1uiZInhjCLRJTBRaUTMiXP7TZjPVxMHwbMOAyDT.png&quot;);"><div class="container">
    <div class="row"><div class="col-md-4"><a target="_self" class="banner">
    <img [src]="image1" alt="banner"></a></div>
     <div class="col-md-10"><a target="_self" class="banner">
<img  [src]="image2"  alt="banner"></a></div>

    </div></div></section>
