<section class="order-complete-wrap">
  <div class="container"><div class="order-complete-wrap-inner">
    <div class="order-complete"><svg xmlns="http://www.w3.org/2000/svg" 
      viewBox="0 0 52 52" class="checkmark"><circle cx="26" cy="26" r="25" 
      fill="none" class="checkmark-circle"></circle> 
      <path fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" class="checkmark-check"></path></svg> 
      <h2>Order Placed!</h2> <span>Your order has been placed. Your order ID is: <b>{{id}}</b></span></div></div></div></section>
      <app-footer1></app-footer1>