.custom-page-wrap {
    margin-top: 50px;
}
.custom-page-content h3, .custom-page-content h4, .custom-page-content h5, .custom-page-content h6 {
    margin-bottom: 14px;
}
.custom-page-content p {
    line-height: 23px;
    color: #6e6e6e;
}

h1 {
    font-size: 36px;
    line-height: 44px;
}