<section class="ion-no-padding">
  <div id="sign-in-buttonc"></div>

  <div class="main">
  
   
       
      
        <div class="phoneAuthGrid">
          <div>
            <div size="4">
              <input type="text" [(ngModel)]="CountryCode" class=" m-2 form-control input-cntry" placeholder="91"  maxlength="2">

            </div>
            <div size="8">
              <input clearInput type="test" placeholder="Your Contact Number" [(ngModel)]="PhoneNo"
                class="input ion-padding-horizontal" clear-input="true" />
            </div>
          </div>
          <div>
            <div>
              <button class="btn btn-primary" id="sign-in-button" (click)="signinWithPhoneNumber()"> Login </button>

            </div>
          </div>
        </div>

    
  </div>

  </section>