
<section class="account-wrap"><div class="container">
  <div id="snackbar" [class.show]="isAddressadded"  >{{toastmsg}}</div>

  <div class="account-wrap-inner">
    <app-user-menu type="addr" ></app-user-menu>

<div class="account-right">
  <div class="panel-wrap">
    <div class="panel"><div class="panel-header">
      <h4>My Addresses</h4></div>
       <div class="panel-body">
         <div  class="my-addresses">

        <div *ngIf="! showAddForm" class="address-card-wrap"><div class="row"><div class="col-xl-6 col-lg-9 ">
          <address *ngFor="let addr of arrOrder.addresses; let i=index" 
           [class.active]="addr.id==defaultid" (click)="updateDefAddress(addr.id)"
            class="address-card ">
            <div class="address-card-data">
            <span>{{addr.first_name}} {{addr.last_name}}</span> 
            <span>{{addr.phone}}</span> <span>{{addr.address_1}}</span> <!----> 
            <span>{{addr.city}}, {{addr.state_name}} {{addr.zip}}</span> <span>{{addr.country_name}}</span></div> 
            <div class="address-card-actions">
              <button type="button" (click)="editAddress(i)" class="btn btn-edit-address">
      Edit
      </button> <button (click)="deleteAddress(addr.id)" type="button" class="btn btn-delete-address">
          Delete
      </button></div></address></div> <div class="col-md-18"><button type="button" (click)="showAddAddress()" class="btn btn-lg btn-default btn-add-new-address">
  ADD NEW ADDRESS
</button></div></div></div>




<div *ngIf="showAddForm" class="add-new-address-form"><h4 class="section-title">
  New Address
</h4> 

<form class=" form_main" [formGroup]="form" (ngSubmit)="onSubmit()">
  
<div class="rovw">
  <div class="col-md-9">

    <div class="form-group">
      <label for="password">First Name<span>*</span></label>   
     
  <input
  type="text"
  placeholder="first name"
  
  formControlName="firstname"
  class="form-control"
  [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
/>
<div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
  <div *ngIf="f.firstname.errors.required">
    First Name is required
  </div>
  <div *ngIf="f.firstname.errors.pattern">enter valid first name</div>
</div>
    </div>

  
  </div>
     <div class="col-md-9">
      <div class="form-group">
        <label for="password">Last Name<span>*</span></label> 
        <input
        type="text"
       
        formControlName="lastname" placeholder="last name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
      />
      <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
        <div *ngIf="f.lastname.errors.required">Last Name is required</div>
        <div *ngIf="f.lastname.errors.pattern">enter valid last name</div>
      </div>
      </div>
              </div> 
               
               <div class="col-md-18">
                <div class="form-group">
                  <label for="password">Street Address<span>*</span></label> 
                  <input
                  type="text"
                 
                  formControlName="address_1" placeholder="address"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.address_1.errors }"
                />
                <div *ngIf="submitted && f.address_1.errors" class="invalid-feedback">
                  <div *ngIf="f.address_1.errors.required">Address is required</div>
                </div>
                </div>
                <div class="form-group">
                  <input name="address_2" 
                  type="text" id="address-2" 
                  formControlName="address_2"
                  placeholder="Address Line 2 (optional)" 
                  class="form-control"
               
                  />
                
                
                </div>
                
                </div>
                 
              <!--   <div class="col-md-9">
                    <div class="form-group"><label for="city">
              City<span>*</span></label> 
              <input name="city" type="text"
               id="city" formControlName="city"
              class="form-control" 
             value="Ranchi" readonly
              [ngClass]="{ 'is-invalid': submitted && f.city.errors }"  />
           
              </div>
            </div>  -->
              <div class="col-md-9">
                <div class="form-group"><label for="zip">Postcode / ZIP<span>*</span></label>
               <input name="zip" type="text"
                formControlName="zip" id="zip" 
               
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.zip.errors }"
                />
               <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
                <div *ngIf="f.zip.errors.required">Zip is required</div>
                </div>

               
               </div></div> 
               
               <div class="col-md-9">
                 <div class="form-group"><label for="country"> Country<span>*</span></label> 
              <select name="country" id="country"
               formControlName="country" 
             
               (change)="changeCountry()"
               class="form-control arrow-black">
               <option value=""> Please Select </option>

                <option *ngFor="let item of arrCountry | keyvalue"  [selected]="item.key == arrUserAddress.country" [value]="item.key"> {{item.value}}</option>
              </select> <!----></div></div> 
               
                <div class="col-md-9"><div class="form-group"><label for="state">
              State / Province<span>*</span></label> 
              <select name="state" id="state" formControlName="state" (change)="changeCity()"
               [ngClass]="{ 'is-invalid': submitted && f.state.errors }" class="form-control arrow-black">
                <option value="">
                  Please Select
              </option>
               <option *ngFor="let item of arrState | keyvalue"  [selected]="item.key == arrUserAddress.state"   [value]="item.key"  >
               
                {{item.value}}
               
              </option>
             
              </select> 
               <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                <div *ngIf="f.state.errors.required">State is required</div>
                </div>

              
              
              </div></div> 

              <div class="col-md-9"><div class="form-group"><label for="city">
               City<span>*</span></label> 
                <select name="city" id="city" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" class="form-control arrow-black">
                  <option value="">
                    Please Select
                </option>
                 <option *ngFor="let item of arrCity "  [selected]="item == arrUserAddress.city"   [value]="item"  >
                 
                  {{item}}
                 
                </option>
               
                </select> 
                   <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required</div>
              </div> 
  
                
                
                </div></div> 
               
               <div class="col-md-9"><div class="form-group"><label for="phone">
              Phone<span>*</span></label> 
              <input name="phone" type="number"
               formControlName="phone"  id="phone" 
             
               [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" 
               class="form-control" /> 
              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">Phone is required</div>
                <div *ngIf="f.phone.errors.pattern">enter valid phone</div>
              

                <!----></div></div>
               <div style="display:flex" class="col-md-18"><button type="button" (click)="hideAddAddress()" class="btn btn-lg btn-primary btn-cancel">
          CANCEL
      </button> <button type="submit" [class.disbled]="submitted" class="btn btn-lg btn-primary btn-save-address">
          SAVE 
      </button></div></div></div>
      </form>
    </div>


</div></div></div> 
    
    
    </div></div>

      </div>  </div></section>

      <app-footer1></app-footer1>